.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#lottie {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

#projects {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

#footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
  color: white;
}

#footerposition {
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(196, 124, 17);
}

a:visited {
  color: rgb(196, 124, 17);
}

#navigation {
  background-color: #282c34;
  text-align: center;
  font-size: 16px;
}

#NavLink {
  margin: 20px;
  font-size: 16px;
}

#languages {
  background-color: rgba(255, 0, 0, 0);
  color: rgb(196, 124, 17);
  border-color: rgba(255, 0, 0, 0);
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0;
  position: absolute; 
  top: 10px; 
  right: 0; 
  text-align:right;
  padding: 15px;
}

@media screen and (min-width: 700px){
  #aboutImage {
    border-radius: 50%;
    height: 200px;
    width: 200px;

    left: 100px;
    bottom: 0px;

  }
  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 699px){
  #aboutImage {
    border-radius: 60%;
    height: 150px;
    width: 150px;

    left: 50px;
    bottom: 0px;

  }
}

#socials {
  width: auto;
}

#socialIcons {
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#skillbar {
  margin-top: 40px;
  min-width: 60vw;
}

#aboutme {
  list-style-type: none;
  text-align: left;
  width: 60vw;
}

/* Footer Made With info */

#madewith {
  list-style-type: none;
  text-align: left;
  float: left;
  font-family: monospace;
}


/* Projects */

#card_wrapper {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.card {
  border: solid 2px rgb(196, 124, 17);
  border-radius: 25px;
  min-width: 90vw;
  display: flex;
  padding: 10px;
}

.card_img {
  width: 25vw;
  height: 30vh;
  object-fit: cover;
}

.card_body {
  margin: 1rem;
  flex-grow: 1;
}

.card_title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.card_description {
  line-height: 2rem;
}

.card_date {
  font-size: 1rem;
  float: right;
  margin-right: 10px;
}

.card_btn {
  border: none;
  border-top: 1px solid gray;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.card_btn:hover {
  color: rgb(196, 124, 17);
}

@media screen and (max-width: 600px){
  .card {
    display: inline-block;
  }
  .card_img {
    width: 75vw;
    height: 50vw;
    object-fit: cover;
  }
}

/* Modals Popup */

.modal {
  font-size: 1.4rem;
  color: white;
  background-color: rgba(165, 103, 11, 0.911);
  border-radius: 20px;
}

.modal > .header {
  width: 90vw;
  font-size: 1.8rem;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  border-top: 1px solid rgb(235, 171, 76);
  width: 80vw;
  padding: 10px 7vw;
  text-align: center;
}

.modal > .actions {
  width: 100%;
  padding: 10px 0px;
  margin: auto;
  text-align: center;
}

.card_btn_popup {
  border: none;
  border-top: 1px solid gray;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 80vw;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.popupImage {
  max-width: 40vw;
  max-height: 40vw;
  min-width: 20vw;
}

#projectsLink {
  color: white;
}








